{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.profile %}
            <a class="link" href="{{ site.url }}/profile">
                <picture>
                    <source 
                        srcset="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.baseurl }}/{{ site.picture }}{% endif %}" 
                        type="image/jpeg"
                    >
                    <img 
                        class="selfie" 
                        alt="{{ site.title }}" 
                        src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.baseurl }}/{{ site.picture }}{% endif %}"
                        onerror="this.onerror=null; console.log('Image failed to load');"
                    />
                </picture>
            </a>
        {% else %}
            <span class="link">
                <picture>
                    <source 
                        srcset="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.baseurl }}/{{ site.picture }}{% endif %}" 
                        type="image/jpeg"
                    >
                    <img 
                        class="selfie" 
                        alt="{{ site.title }}" 
                        src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.baseurl }}/{{ site.picture }}{% endif %}"
                        onerror="this.onerror=null; console.log('Image failed to load');"
                    />
                </picture>
            </span>
        {% endif %}

        <h1 class="title">{{ site.title }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
