<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}" role="navigation" aria-label="Main navigation">
    <ul class="list" role="menubar">
        {% if page.title != "Home" %}
            <li class="item" role="menuitem">
                <a class="link" href="{{ site.url }}/" aria-label="Home">Home</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item" role="menuitem">
                    <a class="link" href="https://blog.theawsdev.com" aria-label="Blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item" role="menuitem">
                    <a class="link" href="{{ site.url }}/projects" aria-label="Projects">Projects</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item" role="menuitem">
                    <a class="link" href="{{ site.url }}/about" aria-label="About">About</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "Why hire?" %}
                <li class="item" role="menuitem">
                    <a class="link" href="{{ site.url }}/about" aria-label="Why hire?">Why hire?</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            {% if page.title != "Resume" %}
                <li class="item" role="menuitem">
                    <a class="link" href="{{ site.url }}/resume" aria-label="Resume">Resume</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
